.LoginFormContainer{
    background-color: #FBDABB;
    display: grid;
    min-height: 55vh;
    justify-content: center;
}
.LoginDetails{
    display: grid;
    background-color: #495E57;;
}
.LoginDetails p{
    color: red;
    margin-left: 10%;
    margin-top: 3px;
}
.LoginDetails button{
    width: 10em;
    justify-self: center;
    margin-top: 10px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #F4CE14;
    background-color: #495E57;
    border-style: groove;
}

.LoginDetails h1{
    justify-self: center;
    color: #F4CE14;
}

.LoginDetails label{
    color: #F4CE14;
}

.LoginButton:hover{
    box-shadow: 0px 0px 30px grey;
}

@media screen and (max-width:600px) {
    .LoginDetails{
        min-width: 100vw;
        max-height: 30vh;
        margin-top: 10vh;
        padding-bottom: 30px;
    }
    .LoginDetails input{
        width: 40%;
    }
    .LoginDetails input, .LoginDetails label{
        margin-left: 10%;
    }
}

@media screen and (min-width:600px) {
    .LoginDetails{
        width: 70vw;
        max-height: 30vh;
        margin-top: 10vh;
        padding-bottom: 30px;
    }
    .LoginDetails input{
        width: 70%;
    }
    .LoginDetails input, .LoginDetails label{
        margin-left: 10%;
    }
}