.LeftArrow{
    font-size: large;
}

@media screen and (max-width:800px) {
    
    .SimpleHeader{
        display: flex;
        max-height: 10vh;
    }

    .SimpleHeader nav{
        margin-top: 3%;
        margin-left: 2%;
    }

    .SimpleHeaderNav a{
        display: flex;
        justify-self: left;
        flex: 1 1;
        flex-basis: content;
        align-items: center;
        background-color: #F4CE14;
        padding: 20px;
        border-radius: 10px;

    }
    .SimpleHeader img{
        display: flex;
        justify-self: center;
        flex: 1 1 100%;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 2%;
    }
}


@media screen and (min-width:800px) {
    
    .SimpleHeader{
        display: flex;
        max-height: 10vh;
    }
    
    .SimpleHeaderNav{
        margin-top: 2%;
        margin-left: 2%;
    }

    .SimpleHeaderNav a{
        display: flex;
        justify-self: left;
        flex: 1 1;
        flex-basis: content;
        align-items: center;
        background-color: #F4CE14;
        padding: 20px;
        border-radius: 10px;

    }

    .SimpleHeader img{
        display: flex;
        justify-self: center;
        flex: 1 1 100%;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 1%;
    }
}

